
[Unit]
Description=send sensor ligth and send to bd througt mqtt
After=multi-user.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/acuaponito/Desktop/Servicios/LigthSensor_service.py
User=acuaponito
WorkingDirectory=/home/acuaponito/Desktop/Servicios
Restart=on-failure

[Install]
WantedBy=multi-user.target
