[Unit]
Description=send sensor ligth from mqtt to bd
After=multi-user.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/acuaponito/Desktop/Servicios/SensorExtBD_service.py
User=acuaponito
WorkingDirectory=/home/acuaponito/Desktop/Servicios
Restart=on-failure

[Install]
WantedBy=multi-user.target

